<!DOCTYPE html>
<html lang="en">
	<head>
  	<meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
  	<meta name="description" content="Your description goes here">
  	<meta name="keywords" content="one, two, three">
		<meta name="viewport" content="width=device-width, initial-scale=1">
		
		<title>Blank Template</title>

		<!-- external CSS link -->
		<link rel="stylesheet" href="css/style.css">
		<link rel="stylesheet" href="css/suggstyles.css">
        <link rel="preconnect" href="https://fonts.googleapis.com">
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
        <link href="https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;500;700&family=Roboto:wght@300;400&family=Source+Sans+Pro:wght@200;300;400;600;700;900&display=swap" rel="stylesheet">
	<body>
		<header>
			<nav class="topbar">
				<ul class="items">
					<li class="profpic">
						<a href="profile.html"><img src="https://previews.123rf.com/images/urfandadashov/urfandadashov1809/urfandadashov180902667/109317646-profile-pic-vector-icon-isolated-on-transparent-background-profile-pic-logo-concept.jpg" alt="profile"></a>
					</li>
					<li>
						<a href="#">Suggestions</a>
					</li>
					<li>
						<a href="#">Contributors</a>
					</li>
					<li>
						<a href="#">Exchange</a>
					</li>
					<li>
						<a href="#">Trending</a>
					</li>
					<li>
						<a href="#">Your Business</a>
					</li>
					<li>
						<a href="#">Submit an Idea</a>
					</li>
				</ul>
			</nav>
		</header>
		<main class="main">
			<section class="leftsec">
				<h5>Left Side Title</h5>
				<p>Hello <%= user.userName %>, in the end of the month, the system picks a random improver. </p>
				
			</section>
			<section class="midsec">
				<section class="suggestion">
                    
                     

 
                  <% if (roomNumber == null) { %>
                    <div id="enterVar">
                        <h1>Enter unique room name or number.</h1>
                        <form action="/suggestions/sendRoomNumber" method="POST">
                            <input type="text" placeholder="Enter room number" name='roomNumberInput'>
                            <input type="submit" id="enterVarButton">
                        </form>
                    </div>  
                 <% } else{ %>  
                    <div  id="sendSugg">
                        <h1>How can we make our company better?</h1>
                        <ul>
                        <% suggestions.forEach( el => { %>
                                <li class='suggestionItem' data-id='<%=el._id%>'>
                                    <span><%= el.name %></span>
                                    <span class='<%= el.completed === true ? 'completed' : 'not'%>'><%= el.suggestion %></span>
                                    <span class='del'> Delete </span>
                                </li>
                        <% }) %>    
                        </ul>
                        <form action="/suggestions/createSuggestion" method='POST' >
                            
                            <input type="hidden" placeholder="Enter name" name='userName' value=<%= user.userName %>>
                            <input type="hidden" placeholder="Enter room number" name='roomName' value=<%= roomNumber %>>
                            <input type="text" placeholder="Enter your idea" name='suggestionItem'>
                            <input type="submit">
                        </form>
                    </div>
                 <% } %>
					<!-- <h2>Suggestion Title</h2>
					<address class="author">By John Bigly</address>
					<p>Some words here for the text of the suggesttion Some words here for the text of the suggesttion Some words here for the text of the suggesttion Some words here for the text of the suggesttion Some words here for the text of the suggesttion Some words here for the text of the suggesttion Some words here for the text of the suggesttion</p>
					<time datetime="2022-12-12 06:42:45">12/12/2022 6:42 AM</time> -->
				</section>
				<!-- <section class="suggestion">
					<h2>Suggestion Title</h2>
					<address class="author">By John Bigly</address>
					<p>Some words here for the text of the suggesttion Some words here for the text of the suggesttion Some words here for the text of the suggesttion Some words here for the text of the suggesttion Some words here for the text of the suggesttion Some words here for the text of the suggesttion Some words here for the text of the suggesttion</p>
					<time datetime="2022-12-12 06:42:45">12/12/2022 6:42 AM</time>
				</section>
				<input type="search" placeholder="Input"> -->

			</section>
			<section class="rightsec">
				<h6>Right Side Title</h6>
				<a href="">Change room number</a>
			</section>
		</main>
		<section class="footer">
			<p>Big placeholder for the Big placeholder for the Big placeholder for the Big placeholder for the Big placeholder for the Big placeholder for the Big placeholder for the Big placeholder for the Big placeholder for the Big placeholder for the Big placeholder for the Big placeholder for the Big placeholder for the Big placeholder for the Big placeholder for the Big placeholder for the Big placeholder for the Big placeholder for the Big placeholder for the Big placeholder for the Big placeholder for the Big placeholder for the footer</p>

            <a href="/logout">Logout</a>
        </section>

		   
    </section>




    <script src="js/main.js"></script>
	</body>

	